<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <h1> Welcome to the DGT LMS </h1>
    <br><br><br>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-3">
                  
                    <div class="card-body">
                        <h5 class="card-title">21st Century Employability Skills</h5>
                        <p class="card-text">Learn and practice the skills employers want, and that will help your future career growth, with DGT LMS Opportunity's free virtual courses.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3">

                    <div class="card-body">
                        <h5 class="card-title">Learn from anywhere at your own pace.</h5>
                        <p class="card-text">Students can choose their courses based on interests and learn at their own pace.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3">
                 
                    <div class="card-body">
                        <h5 class="card-title">Get Certified online</h5>
                        <p class="card-text">Use our Skill Scorecard to show your new skills to employers and your professional network.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg btn-block">Get Started</a>
            </div>
            </div>
        </div>
    </div>
</main></div></div></div></div></div></div></html>
